<!-- templates/about.html -->
{% extends "base.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <style>
        p {
            font-family: "Arial Black", sans-serif; /* Choose a bold font to enhance the 3D effect */
            font-size: 16px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Creates a 3D shadow effect */
            color: #333; /* Dark gray for better contrast */
        }
    </style>

    <h1>Contact Us</h1>
        <p>Governor of Georgia:</p>

        <p>Office of the Governor</p>

        <p>206 Washington Street</p>

        <p>Suite 203, State Capitol</p>

        <p>Atlanta, GA 30334</p>

        <p>Phone: (404) 656-1776​</p>

        <p>GEORGIA.GOV</p>

        <p>​</p>
        <p>GEORGIA.GOV</p>
        
        <p>Governor of Florida:</p>

        <p>Executive Office of the Governor</p>

        <p>The Capitol</p>

        <p>400 South Monroe Street</p>

        <p>Tallahassee, FL 32399-0001</p>

        <p>Phone: (850) 488-7146​</p>

        <p>GEORGIA.GOV</p>

        <p>​</p>
        
        <p>Governor of South Dakota:</p>

        <p>Office of the Governor</p>

        <p>500 East Capitol Avenue</p>

        <p>Pierre, SD 57501</p>

        <p>Phone: (605) 773-3212</p>
        
        <p>GEORGIA.GOV</p>
        
{% endblock %}
