<!-- templates/about.html -->
{% extends "base.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <h1>Contact Us</h1>
    <p>Mason Pond will handle every single one of our interactions so please feel free to email him about anything!</p>
    <p>You can also just email him about anything, honestly please just annoy him for the sake of our sanity</p>
    <ul>
        <li><Strong>Email: </Strong>masonpond12@gmail.com</li>
        <li><strong>Backup-Email: </strong>mpond@mocs.flsouthern.edu</li>
        <li><strong>Github: </strong>https://github.com/MasonPound</li>
        <li><strong>Cell-phone: </strong>(813) 425-9089</li>
    </ul>
    <p>He stole a PB&J sandwich that my mom made me... Give him hell!</p>
{% endblock %}
