{% extends 'base.html' %}
{% block title %}Image Upload{% endblock %}

{% block content %}
    <h1>Upload an Image</h1>

    <form method="POST" enctype="multipart/form-data" action="{% url 'index' %}">
        {% csrf_token %}
        <button id="file-upload-button" type="button" class="custom-button">
            <div class="shadow"></div>
            <div class="edge"></div>
            <div class="front">
                <span>Choose File</span>
            </div>
        </button>
        <input id="file-upload" type="file" name="image" style="display: none;" required />

        <button id="upload-button" type="submit" class="custom-button"> <!-- Add an ID for easier debugging -->
            <div class="shadow"></div>
            <div class="edge"></div>
            <div class="front">
                <span>Upload Image</span>
            </div>
        </button>
    </form>



    {% if messages %}
        {% for message in messages %}
            <h2>{% if message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</h2>
        {% endfor %}
    {% endif %}

    <h1>Your Clothing Items</h1>

    <ul>
        {% for item in items %}
            <img src="{{ item.image.url }}" alt="Item Image" style="width: auto; height: 200px;">
            <li>{{ item.cloth_color }} - {{ item.cloth_type }}</li>
        {% empty %}
            <li>You have not uploaded any items yet.</li>
        {% endfor %}
    </ul>
{% endblock %}