{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Log In</button>
    </form>

    <br>
    <p>
        <a href="{% url 'password_reset' %}">Forgot your password?</a>
    </p>

    <p>
        <a href="{% url 'signup' %}">Don't have an account? Sign up here</a>
    </p>
{% endblock %}
